<%= form_with(model: [issue, comment]) do |form| %>
  <% if comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comment.errors.count, "error") %>prohibited this comment from being saved:</h2>
      <ul>
      <% comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field mt-5">
    <%= link_to current_user.username, profile_path(current_user) %>
    <%= form.text_area :content, class:"form-control form-control-lg", type:"text-area", col:"4", placeholder:"Write a comment" %>
  </div>
  <div class="text-right mt-3">
    <%= form.submit 'Comment', class:"btn", style:"background-color: #70adb5;" %>
  </div>
<% end %>
