<% if @results.present? %>
  <table class="table">
    <h2 class="text-center mb-4">Search Results</h2>
    <h5>
      Project Name: <%= link_to @project.name , project_path(@project) %>
    </h5>
    <thead style="background-color: #70adb5;">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Issues</th>
        <th scope="col">Type</th>
        <th scope="col">Priority</th>
        <th scope="col">Assigned Person</th>
        <th scope="col">Submitted Person</th>
        <th scope="col">Status</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <% @results.each.with_index(1) do |issue, index| %>
        <% assigned_person = User.find_by(username: issue.assigned_person) %>
        <tr>
          <td>
            <%= index %>
          </td>
          <td>
            <%= issue.summary %>
          </td>
          <td>
            <%= issue.issue_type %>
          </td>
          <td>
            <%= issue.priority %>
          </td>
          <td>
            <%= link_to assigned_person.username, profile_path(assigned_person.id) %>
            <% if assigned_person.id == @project.owner_id %>
              (Leader)
            <% else %>
              <% project_member = ProjectMember.find_by(user_id: assigned_person.id, project_id: @project) %>
              (<%= project_member.role %>)
            <% end %>
          </td>
          <td>
            <%= link_to issue.user.username, profile_path(issue.user) %>
            <% if issue.user.id == @project.owner_id %>
              (Leader)
            <% else %>
              <% project_member = ProjectMember.find_by(user_id: issue.user, project_id: @project) %>
              (<%= project_member.role %>)
            <% end %>
          </td>
          <td>
            <%= issue.status %>
          </td>
          <td>
            <%= link_to 'Detail', issue_path(issue), class:"btn btn-sm mx-0 btn-outline-info" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <h2 class="text-center">There is no issues matched this search keyword</h2>
  <h4 class="text-center"><%= link_to 'Back to project', project_path(@project) %></h4>
<% end %>
