<div class="container">

<% if @issue.close_issue %>
  <div class="container mb-2">
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <p>This issue is for record only.</p>
      <p>This issue does not need to involve in project activities</p>
      <p>Because it is resolved successfully and hence it is closed by submitted person.</p>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      </div>
  </div>
<% end %>

<div class="row mb-4">
  <div class="col">
    <h5>
      Project Name: <%= link_to @project.name , project_path(@project) %>
    </h5>
  </div>
  <div class="col text-right">
    <h5>
      Submitted by: <%= link_to @submitted_person.username , profile_path(@submitted_person) %>
    </h5>
  </div>
</div>

<div class="row">
  <div class="col" >
    <p class="issue-detail-text">
      <strong>Summary: </strong><%= @issue.summary %>
    </p>
    <p class="issue-detail-text">
      <strong>Detail: </strong><%= @issue.detail %>
    </p>
    <p class="issue-detail-text">
      <strong>Type: </strong><%= @issue.issue_type %>
    </p>
    <p class="issue-detail-text">
      <strong>Priority: </strong><%= @issue.priority %>
    </p>
    <p class="issue-detail-text"><strong>Assigned person: </strong>
      <%= link_to @assigned_person.username, profile_path(@assigned_person) %>
    </p>
    <p class="issue-detail-text"><strong>Status: </strong><%= @issue.status %></p>
    <% if @issue.due_date.present? %>
      <p class="issue-detail-text"><strong>Due Date: </strong><%= @issue.due_date.to_s(:long) %></p>
    <% end %>
    <p class="issue-detail-text">
      <strong>Action: </strong>
      <% if @issue.close_issue %>
        Closed
      <% else %>
        <%= link_to 'Edit Issue', edit_issue_path(@issue) %>
      <% end %>
    </p>

    <% if current_user.id == @issue.user_id || current_user.id == @project.owner_id %>
      <% if !@issue.close_issue %>
        <p class="btn btn-outline-success py-2 px-3" >
          <%= link_to 'Close Issue', close_issue_path(@issue) %>
        </p>
      <% end %>
    <% end %>
  </div>
  <div class="col">
    <div class="issue-detail-text mb-3">
      <strong>Comments</strong>
    </div>
    <div id="comments_area">
      <%= render partial: 'comments/index', locals: { comments: @comments, issue: @issue } %>
    </div>
    <p>
      <%= render partial: 'comments/form', locals: { comment: @comment, issue: @issue } %>
    </p>
  </div>
</div>


</div>
