<h1>Showing User Details</h1>
<p><strong>Username: </strong><%= @user.username %></p>
<p><strong>Email: </strong><%= @user.email %></p>
<p><strong>Projects: </strong><%= @user.projects.count %></p>

<p>
  <strong>Submitted issues(on all projects): </strong>
  <%= @user.issues.count %>
</p>
<p>
  <strong>Assigned issues(on all projects): </strong>
  <%= @assigned_issues.count %>
</p>
