<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <div class="container col-7">
    <%= render "devise/shared/error_messages", resource: resource %>
    <div class="card text-center border border-info mb-3">
      <div class="card-header bg-grey text-center font-weight-bold my-font-size">
        <h1>Forgot your password?</h1>
      </div>
      <div class="card-body">
        <p class="card-text text-center">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </p>
      </div>
      <div class="card-footer">
        <p>
          <%= f.submit "Send me reset password instructions",
          class: "btn mt-3 col-6", style:"background-color: #70adb5;" %>
        </p>
      </div>
    </div>

    <div class="text-center my-5 ">
      <%= render "devise/shared/links" %>
    </div>
  </div>
<% end %>
