<div class="container text-center">

  <%= form_with(model: project, local: true) do |form| %>
    <div class="container mb-2">
      <% if project.errors.any? %>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>
          <% project.errors.full_messages.each do |message| %>
            <p><%= message %></p>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          <% end %>
        </div>
      <% end %>
    </div>

    <div class="container col-6">
      <div class="card text-center">
        <div class="card-header bg-grey text-center font-weight-bold my-font-size">
          <h1><%= project_header %></h1>
        </div>

        <div class="card-body">
          <p class="card-text text-center">
            <%= form.label :name %>
            <%= form.text_field :name, class:"form-control", placeholder:"Enter Project Name", autofocus: true %>
          </p> <br>
          <p class="card-text text-center">
            <%= form.label :description %>
            <%= form.text_area :description, rows:"4", class:"form-control", placeholder:"Enter Project Description" %>
          </p>
        </div>

        <div class="card-footer">
          <p>
            <%= form.submit "#{name}", class: "btn mt-3 col-3",
              style:"background-color: #70adb5;" %>
          </p>
        </div>
      </div>
    </div>

  <% end %>
  <%= link_to 'Back', projects_path, class:"btn mt-3 col-1",
        style:"background-color: #70adb5;" %>
</div>
