<% if current_user.projects.present? %>
  <h2 class="text-center mb-4">Your Projects</h2>

  <div class="container col-8">
    <% @projects.each do |project| %>
      <div class="card text-center mb-4 border border-info">
        <div class="card-header" style="background-color: #70adb5;">
          <h4><%= project.name %></h4>
        </div>
        <div class="card-body">
          <p class="card-text"><%= project.description %></p>
          <br>
          <%= link_to 'Show', project, class:"btn", style:"background-color: #70adb5;" %>
          <% if current_user.id == project.owner_id %>
            <%= link_to 'Edit', edit_project_path(project), class:"btn", style:"background-color: #70adb5;" %>
            <%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' },
                class:"btn", style:"background-color: #70adb5;" %>
          <% end %>
        </div>
        <div class="card-footer text-muted">
          <small>Created <%= time_ago_in_words(project.created_at) %> ago,
            edited <%= time_ago_in_words(project.updated_at) %> ago</small>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

<div class="text-center" >
  <%= link_to 'New Project', new_project_path, class:"btn mb-3", style:"background-color: #70adb5;" %>
</div>
