<div class="row">
  <div class="col">
    <h2>Showing Project Details</h2>

    <p><strong>Name: </strong><%= @project.name %></p>
    <p><strong>Description: </strong><%= @project.description %></p>
    <%= link_to 'Home', projects_path %>
    <% if current_user.id == @project.owner_id %>
      | <%= link_to 'Edit', edit_project_path(@project)%> |
      <%= link_to 'Delete', project_path(@project), method: :delete,
          data: { confirm: "Are you sure?" }%>
    <% end %>
  </div>
  <div class="col">
    <% if current_user.id == @project.owner_id %>
        <%= form_with model: :project_member, scope: :post, url: member_path(@project.id), local: true do |form| %>
        <div class="input-group">
          <%= text_field_tag :email, '', { class: 'form-control', placeholder: "Enter the email address"} %>
          <%= select_tag :role,
          options_for_select(["Developer", "Tester"]), class: 'form-control' %>
          <span class="input-group-append">
            <button type="submit" class="btn btn-flat" style="background-color: #70adb5;">
              Invite
            </button>
          </span>
        </div>
      <% end %>
    <% end %> <br>

    <table class="table">
      <h2>Members List</h2>
      <thead style="background-color: #70adb5;">
        <tr>
          <th scope="col">Members</th>
          <th scope="col">Role</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody class="text-left">
        <% @pmembers.each do |member| %>
          <% user = User.find(member.user_id) %>
            <tr>
              <td><%= link_to user.username, profile_path(user) %></td>
              <% project_member = ProjectMember.find_by(user_id: user.id, project_id: @project) %>
              <td><%= project_member.role %></td>
              <% if current_user.id == member.project.owner_id %>
                <td><%= link_to 'Remove', remove_path(project_member.id), method: :delete, class: 'btn btn-sm btn-danger' %></td>
              <% elsif current_user.id == member.user_id %>
                <td><%= link_to 'Remove', remove_path(project_member.id), method: :delete, class: 'btn btn-sm btn-danger' %></td>
              <% else %>
                <td></td>
              <% end %>
            </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<table class="table">
  <h2>Issues List</h2>
  <thead style="background-color: #70adb5;">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Issues</th>
      <th scope="col">Type</th>
      <th scope="col">Assigned Person</th>
      <th scope="col">Submitted Person</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <% @pmembers.each do |member| %>
    <% user = User.find(member.user_id) %>
      <tr>
        <td>1</td>
        <td>Make sorting feature</td>
        <td>Feature</td>
        <td>
          <%= link_to user.username, profile_path(user) %>
          <% project_member = ProjectMember.find_by(user_id: user.id, project_id: @project) %>
          (<%= project_member.role %>)
        </td>
        <td>
          <%= link_to user.username, profile_path(user) %>
          <% project_member = ProjectMember.find_by(user_id: user.id, project_id: @project) %>
          (<%= project_member.role %>)
        </td>
        <td><a href="#">Detail</a></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="text-center" >
  <%= link_to 'Add New Issue', new_project_path, class:"btn my-3", style:"background-color: #70adb5;" %>
</div>
